.dark-layout {
    .blank-page-header {
        background-color: $theme-dark-body-bg !important;
    }

    .menu {
        background-color: $theme-dark-card-bg !important;

        .navbar {
            background-color: $theme-dark-card-bg !important;
        }

        .header-navbar {
            background-color: $theme-dark-card-bg !important;
        }
    }

}

.blank-page-header {
    background: #fff;
    box-shadow: $box-shadow;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: fixed;
    z-index: 100;
    width: 100%;

    .brand-logo {
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        .brand-text {
            font-weight: 600;
        }

        align-content: flex-start;
        justify-content: flex-start;
    }

    .flex30 {
        flex-basis: 30%;
    }

    .flex70 {
        flex-basis: 70%;
    }

    .header-navbar {
        &.floating-nav {
            width: calc(100vw - (100vw - 100%) - calc(#{$content-padding} * 2));
        }
    }

    @include media-breakpoint-down(sm) {
        .flex30 {
            flex-basis: unset;
            width: 60%;
        }

        .flex70 {
            flex-basis: unset;
            width: 40%;
        }

    }
}

.menu {

    // width: 100%;
    .nav-link-style {
        color: $secondary !important;

        &:active,
        &.active,
        &:focus,
        &:hover {
            color: $secondary !important;
        }
    }

}

.blank-header-nav {
    padding: 0px 2rem;
}

.align-center {
    align-items: center;
}

.sweet-loading {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #807d7d75;
    z-index: 100;
}

.capitalize {
    text-transform: capitalize;
}

.overview {
    margin-bottom: 0;
    height: 100%
}

.card-margin {
    margin-bottom: 2rem;
}

.online-pop-wrapper {
    position: fixed;
    bottom: 47px;
    width: 230px;
    right: 2rem;
    margin-right: 10vw;

    .card-body {
        height: 400px;
    }

    svg#user-icon {
        transform: none;
    }

    @include media-breakpoint-down(sm) {
        bottom: 82px;
    }
}

.online-card-body {
    overflow-y: scroll;
    max-height: 380px;

    // position: relative;
    .ps__rail-y {
        z-index: 3;
    }

    .infinite-scroll-component {
        overflow: inherit !important;
    }
}

.box-shadow-google {
    box-shadow: $box-shadow-google;
}

.jumbotron-container {
    height: 350px;
    padding: 0 !important;

    .jumbotron-div {
        color: #000 !important;
        background-repeat: no-repeat;
        background-size: 100% 400px;
        // background-position:0px -50px;
        margin-bottom: 0;
        padding: 0;
        height: 100%;

        .jumbotron-overlay {}

        .jumbotron-text {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #000;
        }

        h1 {
            color: #000 !important;
        }

        .jumbotron-button {
            display: flex;
            align-items: center;
            height: 100%;
            margin-top: 140px !important;

        }

        .j_btn {
            background-color: #007bff !important;
        }
    }
}

.inner_display_nonde {
    height: 90vh;
    background: url("../../assets//images/pages/efoot_register.png");
    background-size: cover;
    border-radius: 5px;
}

body.dark-layout {
    .jumbotron-container {
        .jumbotron-div {
            color: #d0d2d6 !important;
        }

        h1 {
            color: #d0d2d6 !important;
        }

        .jumbotron-text {
            color: #d0d2d6 !important;
        }
    }
}

.chatOwner {
    font-size: .8rem;
}

.content-area-wrapper {
    overflow-y: hidden;
    overflow-x: hidden;
}

.classforoverflow {
    height: 100vh;
    overflow-y: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.home-page-container {
    .jumbotron-div {
        background-position: 0px 0px;
    }
}

.how-to-play-Jumbotron {
    background: url('/src/assets/images/howToPlay/goal-kepper.png');
}

.how-to-play-Jumbotron2 {
    background: url('../../assets/images/howToPlay/e-foot_web01-1.png');
    background-size: 100% 350px !important;
    margin-bottom: 10px;
    // border-top: 2px solid #1061ae;
    // border-right: 2px solid #1061ae;
    // border-left: 2px solid #1061ae;
    // border-radius: 100px 0px;
    // border-bottom: 20px solid #1061ae;
}

.how-to-play-Jumbotron2 {
    margin-right: 45px !important;
    margin-left: 15px !important;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (max-width:1470px) {
    .how-to-play-Jumbotron2 {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none;
        border-radius: 0;
    }
}

@media (max-width:767px) {
    .how-to-play-Jumbotron2 {
        display: none;
    }

    .jumbo_text {
        margin-top: 5% !important;
        background-color: #1061ae;
        border-radius: 50px 0px;
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
        padding: 5px;
        font-size: 1.2rem !important;
    }

    .jumbotron-container-how-to-play {
        height: 200px !important;
        margin-bottom: 40px !important;
        // margin-left: 70px;
        // margin-right: 40px;
    }

    .jumbotron-container-how-to-play-h3 {
        color: #f5f5f6;
        font-size: 3rem;
        margin-top: 15%;
    }

}

.homepage-jumbotron {
    background: url('/src/assets/images/home/e-foot_web01.jpg');
    // border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    background-size: contain;
    background-position: center;

    .jumbotron-overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .2);
    }
}

.newclass {
    border-bottom: 3px solid #fff;
    border-top: 3px solid #fff;
    border-radius: 10px 10px 10px 10px;
}

.stepDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid;
}

@media (max-width: 992px) {
    .homepage-jumbotron {
        background: url('/src/assets/images/home/fbpro_01.jpg');
    }
}

@media (max-width: 767px) {
    .nav-bar-toggle-div {
        width: 100%;
        text-align: right;
    }

    .menu {
        .navbar-nav {
            flex-flow: column;
        }
    }


    .hide-image {
        display: none !important;
    }
}

.decimal-order-list {
    ol {
        counter-reset: item
    }

    ol>li {
        display: block
    }

    ol>li:before {
        content: counters(item, ".") " ";
        counter-increment: item;
        font-weight: bold
    }

    ol>li>ol>li {
        margin: 0.7rem 0;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    overflow-y: hidden;
}

.whole-chat-app {
    overflow: hidden !important;
}

.content-wrapper::-webkit-scrollbar {
    display: none;

}

.showChal {

    // box-shadow: 1px 1px 0px #999,
    //     2px 2px 0px #999,
    //     3px 3px 0px #999,
    //     4px 4px 0px #999,
    //     5px 5px 0px #999,
    //     6px 6px 0px #999;
    padding: 0;
    margin: 0;
    width: 25%;
}

@media screen and (max-width: 776px) {
    .showChal {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .showChal {
        width: 100%;
    }
}

.card_game {
    border: 1px solid #aaa;
    border-radius: 0;
}

.btn_challeng {
    margin-bottom: -21px !important;
    border-radius: 0px;
}

.card_game:hover {
    transform: scale(1.01);
    transition-duration: .6s;
    box-shadow: rgba(107, 107, 206, 0.2) 0px 7px 29px 0px;
}

.employee-task {
    padding: 5px;
}

.challenge_card {
    height: 425px;
    overflow: auto;

}

@media only screen and (max-width: 600px) {
    .employee-task {
        flex-direction: column;
    }

    .btns_for_public {
        flex-direction: column;
    }

    .challenge_time {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .challenge_img {
        padding-left: 10px;
    }
}

.hideChal {
    display: none;
}

.card_error {
    height: 75vh;

}

.error_img {
    max-height: 300px;
    max-width: 300px;

}

.form-send-message-global {
    width: 100%;
    border: 1px solid #aaaa;
    border-radius: 5px;
}

//global chat css

.modal.fade .modal-bottom,
.modal.fade .modal-left,
.modal.fade .modal-right,
.modal.fade .modal-top {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 40vw;
}

@media (max-width: 1024px) {

    .modal.fade .modal-bottom,
    .modal.fade .modal-left,
    .modal.fade .modal-right,
    .modal.fade .modal-top {
        position: fixed;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        width: 80vw;
    }
}

@media (max-width: 776px) {

    .modal.fade .modal-bottom,
    .modal.fade .modal-left,
    .modal.fade .modal-right,
    .modal.fade .modal-top {
        position: fixed;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        width: 100vw !important;
    }
}



.modal.fade .modal-right {
    left: auto !important;
    transform: translate3d(100%, 0, 0);
    transition: transform .3s cubic-bezier(.25, .8, .25, 1)
}

.modal.fade.show .modal-bottom,
.modal.fade.show .modal-left,
.modal.fade.show .modal-right,
.modal.fade.show .modal-top {
    transform: translate3d(0, 0, 0)
}

.w-xl {
    width: 320px
}

.modal-content,
.modal-footer,
.modal-header {
    border: none
}

@media (max-width: 992px) {
    .display_none {
        display: none;

    }

    .auth-inner {
        margin: 0;

    }

    .card_register {
        padding-top: 0;
    }
}

.h-100 {
    height: 100% !important
}

.list-group.no-radius .list-group-item {
    border-radius: 0 !important
}

.btn-light {
    color: #212529;
    background-color: #f5f5f6;
    border-color: #f5f5f6
}

.btn-light:hover {
    color: #212529;
    background-color: #e1e1e4;
    border-color: #dadade
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid rgba(160, 175, 185, .15);
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem
}


.start-chat-area {
    background-image: url(../../assets//images//chatimages//fotball_pettern.png);
    background-color: rgba(252, 252, 252, 0.9);
}

// .before_login {
//     height: 300px;
//     width: 300px;
//     background-image: url("../../assets/images/authpagesImages/fotball_pettern2-2.png");
//     background-size: cover;
//     margin-left: -20vw;
//     // background-color: black;

// }

// .user-chats {
//     background-image: url("../../assets/images/chatimages/fotball_pettern.png");
//     background-color: #1e232f !important;
// }

.change_avatar {
    display: grid;
    height: 80px;
    width: 80px;
    margin-top: -77px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.357rem;
    place-items: center;

    z-index: 1000000000;
    position: absolute;
    cursor: pointer;
    // display: none;
    // visibility: hidden;
}

.plus_icon {
    font-size: 37px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}


.avatar_change {
    position: relative;
}

// .avatar_change:hover {
//     .change_avatar {
//         display: block;
//     }
// }

.showme {
    display: none;
}

.showhim:hover .showme {
    display: block;
}

.showhim:hover .ok {
    display: none;
}

// *::selection {
//     color: #1061ae;
//     background-color: #ffffff;

// }
.how_to_play {
    border-radius: 0px 50px;
}