.dark-layout {
    .blank-page-header{
        background-color: $theme-dark-body-bg !important;
    }
    .menu{
        background-color: $theme-dark-card-bg !important;
        .navbar{
            background-color: $theme-dark-card-bg !important;
        }
        .header-navbar{
            background-color: $theme-dark-card-bg !important;
        }
    }
    
}

.blank-page-header{
    background: #fff;
    box-shadow: $box-shadow;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: fixed;
    z-index: 100;
    width: 100%;
    .brand-logo {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        .brand-text {
            font-weight: 600;
        }
        align-content: flex-start;
        justify-content: flex-start;
    }
    .flex30{
        flex-basis:30%;
    }

    .flex70{
        flex-basis:70%;
    }
    .header-navbar {
        &.floating-nav{
            width: calc(100vw - (100vw - 100%) - calc(#{$content-padding} * 2));
        }
    }
    @include media-breakpoint-down(sm) {
        .flex30{
            flex-basis:unset;
            width: 60%;
        }
    
        .flex70{
            flex-basis:unset;
            width: 40%;
        }
            
    }
}
.menu{
    // width: 100%;
    .nav-link-style{
        color: $secondary !important;
        &:active,
        &.active,
        &:focus,
        &:hover{
            color: $secondary !important;
        }
    }

}

.blank-header-nav{
    padding: 0px 2rem;
}
.align-center{
    align-items: center;
}

.sweet-loading{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #807d7d75;
    z-index: 100;
}
.capitalize{
    text-transform: capitalize;
}
.overview{
    margin-bottom: 0;
    height: 100%
}
.card-margin{
    margin-bottom: 2rem;
}

.online-pop-wrapper {
    position: fixed;
    bottom: 47px;
    width: 230px;
    right: 2rem;
    .card-body{
        height: 400px;
    }
    svg#user-icon {
        transform: none;
    }
    @include media-breakpoint-down(sm) {
        bottom: 82px;
    }
}

.online-card-body{
    overflow-y: scroll;
    max-height: 380px;
    // position: relative;
    .ps__rail-y {
      z-index: 3;
    }
    .infinite-scroll-component {
        overflow: inherit !important;
    }
}

.box-shadow-google{
    box-shadow: $box-shadow-google;
}

.jumbotron-container{
    height: 400px;
    padding: 0 !important;
    .jumbotron-div{
        color: #000 !important;
        background-repeat: no-repeat;
        background-size: 100% 400px;
        // background-position:0px -50px;
        margin-bottom: 0;
        padding:0;
        height:100%;
        .jumbotron-overlay{
            
        }
        .jumbotron-text{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #000;
        }
        h1{
            color:#000 !important;
        }
        .jumbotron-button{
            display: flex;
            align-items: center;
            height: 100%;
        }
    }    
}

body.dark-layout{
    .jumbotron-container{
        .jumbotron-div{
            color: #d0d2d6 !important;
        }
        h1{
            color:#d0d2d6 !important;
        }
        .jumbotron-text{
            color:#d0d2d6 !important;
        }
    }
}

.home-page-container{
    .jumbotron-div{
        background-position:0px 0px;
    }    
}
.how-to-play-Jumbotron{
    background: url('/src/assets/images/howToPlay/goal-kepper.png');
}
.homepage-jumbotron{
    background: url('/src/assets/images/home/home-banner.jpeg');
    .jumbotron-overlay{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff2b;
    }
}
.stepDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid;
}

@media (max-width: 767px) {
    .nav-bar-toggle-div{
        width: 100%;
        text-align: right;
    }
    .menu{
        .navbar-nav{
            flex-flow: column;
        }
    }
    .hide-image{
        display: none !important;
    }
}
.decimal-order-list{
    ol { counter-reset: item }
    ol > li{ display: block }
    ol > li:before { content: counters(item, ".") " "; counter-increment: item; font-weight:bold }
    ol > li > ol > li{
        margin: 0.7rem 0;
    }
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}