@import '../bootstrap-extended/include'; // Bootstrap includes
@import '../components/include'; // Components includes

$auth-1-inner-max-width: 600px !default;



.auth-wrapper {
  display: flex;
  flex-basis: 100%;
  // height: calc(100vh - 5.45rem);
  // min-height: calc(var(--vh, 1vh) * 100 - 5.45rem);
  margin-top: 8.45rem;

  @include media-breakpoint-down(xs) {
    margin-top: 10.45rem;
  }

  width: 100%;

  .auth-inner {
    width: 100%;
    position: relative;
  }



  &.auth-v1 {
    align-items: center;
    justify-content: center;
    overflow: hidden; // For v1 scroll for long auth form

    .auth-inner {
      &:before {
        width: 450px;
        height: 350px;
        content: ' ';
        position: absolute;
        top: -0px;
        left: -430px;
        background-image: url("../../../..//assets/images/authpagesImages/fotball_pettern2-2.png");
        background-size: cover;

        @include media-breakpoint-down(xs) {
          display: none;
        }
      }

      &:after {
        width: 320px;
        height: 420px;
        content: ' ';
        position: absolute;
        bottom: -55px;
        right: -300px;

        background-image: url("../../../..//assets/images/authpagesImages/fotball_pettern3.png");
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(270deg);
        z-index: -1;


        @include media-breakpoint-down(xs) {
          display: none;
        }
      }
    }
  }

  &.auth-v2 {
    align-items: flex-start;

    .auth-inner {
      height: 100vh;
    }

    .brand-logo {
      position: absolute;
      top: 2rem;
      left: 2rem;
      margin: 0;
      z-index: 1;
    }
  }

  &.auth-v1 .auth-inner {
    max-width: $auth-1-inner-max-width;
  }

  .brand-logo {
    display: flex;
    justify-content: center;
    margin: 1rem 0 2rem 0;

    .brand-text {
      font-weight: 600;
    }
  }

  .auth-footer-btn {
    .btn {
      padding: 0.6rem !important;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .auth-wrapper {
    &.auth-v2 .auth-card {
      width: $auth-1-inner-max-width;
    }
  }
}

.auth-wrapper .auth-bg {
  background-color: $white;
}

.dark-layout {
  .auth-wrapper .auth-bg {
    background-color: $theme-dark-card-bg;
  }
}